<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="rarangi_static@totr.lu" name="rarangi_static" createdate="2011-11-11">
        <version>0.1pre</version>
        <label lang="en_EN">rarangi_static</label>
        <description lang="en_EN" />
        <license URL="http://www.gnu.org/licenses/gpl.html">GPL</license>
        <copyright>2011 totr</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>totr.lu</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.3b2pre.1962" maxversion="1.3b2pre.*"/>
    </dependencies>
</module>
