/*
colors :
    yellow: #FECF12
    light orange: #FF9000
    orange: #E45605
    red: #D41C0E
    purple: #72123D
*/

body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #ebebdf;
    color: #626262;
}

a { color: #879CB1; }
a:visited { color: #697C8B; }

/* HEADER */
#header {
    padding: 5px;
}

#help-links {
    float: right;
    margin-bottom: 40px;
}

/* MENUBAR */
#menubar {
    clear: both;
    border-bottom: 1px solid #72123D;
    background-color: #e3856D;
    color: white;
}
#menubar a {
    color: #ebebdf;
}
body#home #menubar {
    padding: 10px;
    border-top: 1px solid #72123D;
}

#menubar-top {
    background-color: #ebebdf;
}
#menubar-top ul {
    margin-left: 80px;
}
#menubar-top li {
    float: left;
    list-style-type: none;
}
#menubar-top li a {
    text-decoration: none;
    background-color: #BB6E5B ;
    color: #ccc;
    margin-left: 15px;
    padding: 5px 15px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    font-weight: bold;
    border: 1px solid #72123D;
    border-bottom: none;
}
#menubar-top span {
    color: black;
    margin-left: 30px;
}
#menubar-top a.active {
    color:#ebebdf;
    background-color: #e3856D;
}
#menubar-content {
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
    border-top: 1px solid #72123D;
}
#menubar-content span {
    margin-left: 30px;
}

/* MAIN */
#main {
    padding: 15px 30px;
}
#main h2 {
    background-color:#6B86A6;
    padding:5px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-box-shadow:3px 3px 12px 0 #999;
    -webkit-box-shadow:3px 3px 12px #999;
    color: #ebebdf;
    letter-spacing: 0.2em;
}

/* FOOTER */
#footer {
    clear:both;
	border-top : 1px #72123D solid;
	text-align:center;
	margin-top: 100px;
	font-size:0.8em;
}


