/* ======= styles for the main layout */

/*
HTML #8A95A6
RGB 138/149/166

HTML #C9DAF2
RGB 201/218/242

HTML #A6A48A
RGB 166/164/138

HTML #F2E9C9
RGB 242/233/201

HTML #595959
RGB 89/89/89

HTML #A6A6A6
RGB 166/166/166
*/

body {
    margin: 0;
    font-family: Tahoma, Arial,Helvetica,sans-serif;
    background-color: #efebec;
    color: #595959;
}

/* HEADER */
#header {
    padding: 5px;
	background-color:#595959;
	color: white;
}

#header h1 {
	font-family: Impact, Verdana, sans-serif;
	margin: 0.3em 2em 0 2em;
}
#header p {
	font-family: Impact, Verdana, sans-serif;
	margin: 0.3em 5em;
}


#help-links {
    text-align: right;
	float:right;
	font-size:0.7em;
}
#help-links a {
	color:white;
}
/* MENUBAR */
#menubar {
    clear: both;
    border-bottom: 1px solid #fff;
    background-color: #A6A48A;
    color: white;
	font-size:0.8em;
	position: relative;
	z-index:800;
}
#menubar a {
    color: #ebebdf;
}
#menubar ul {
	background-color: #A6A48A;
	min-height:2em;
}
.jmenulist {
	margin:0;
	padding:4px;
}
.jmenulist ul {
	padding:4px;
	margin:0.5em 0!important;
	border:1px solid #939393;
	max-height:200px;
	overflow-y: auto ;
	overflow-x: hidden;
}
.jmenulist ul ul {
	margin-left:180px;
	margin: -0.5em 0 0 170px!important;
	padding:0;
}
.jmenulist li  {
	padding:6px 6px;
}
.jmenulist a {
	text-decoration:none;
}
.jmenulist ul li a {
	display:block;
}
.jmenulist a:hover, .jmenulist li:hover {
	background-color: #595959;
}

/* MAIN */
#main {
    padding: 15px 30px;
}


/* FOOTER */
#footer {
    clear:both;
	text-align:center;
	margin-top: 100px;
	padding: 0.5em;
	font-size:0.8em;
	background-color:#595959;
	color: white;
}
