<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="rarangi-module@forge.jelix.org" name="rarangi" createdate="2008-11-25">
        <version stability="pre-alpha" date="">0.1pre</version>
        <label lang="en_EN">Rarangi</label>
        <description lang="en_EN"></description>
        <licence URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence</licence>
        <copyright>2008-2009 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true" />
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://forge.jelix.org/projects/rarangi</homepageURL>
        <!--<updateURL>http://www.yourwebsite.undefined/update.xml</updateURL>-->
    </info>
    <dependencies>
        <jelix minversion="1.1b2pre.1179" maxversion="1.2" />
    </dependencies>
</module>