<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="rarangi@rarangi.org" name="rarangi" createdate="2008-11-25">
        <version>0.0.9</version>
        <label lang="en_US">Rarangi engine</label>
        <description lang="en_US"/>
        <licence URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence</licence>
        <copyright>2008-2010 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
    </info>
    <dependencies>
        <jelix minversion="1.3.0" maxversion="1.6.*"/>
    </dependencies>
</module>
